<!DOCTYPE html>
<html>
<head>
    <title>Listado de personal</title>
    <%- include('head.ejs') %>
</head>
<body>
    <%- include('navigation.ejs') %>
    <h1>Listado de personal</h1>
    <div class="container">
        <% listPersonal.forEach(element => { %>
            <div class="row mt-3">
                <div class="col-md-4">
                    <%= element.nombre %>
                </div>
                <div class="col-md-4">
                    <%= element.email %>
                </div>
                <div class="col-md-4">
                    <a href="/editarPersonal/<%= element.id %>" class="btn btn-primary btn-sm">Editar</a>
                    <form action="/deletePersonal/<%= element.id %>" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>
